@import "tailwindcss";

@theme {
  --color-primary-bg: #111;
  --color-secondary-bg: #181818;
  --color-primary-text: #fff;
  --color-secondary-text: #aaa;
  --color-grey: #555;
}

@layer {
  :root {
    color-scheme: dark;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--grey) transparent;
  }
  .styled-scrollbar::-webkit-scrollbar {
    width: 0.75rem;
  }

  .styled-scrollbar:hover::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-color: var(--grey);
    background-clip: content-box;
  }
  .styled-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .styled-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
  }
}
